@import url('https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&display=swap');
h1{
	font-weight: 400;
	text-align: center;
	font-family: "Annapurna SIL", serif;
	text-transform: uppercase;
	letter-spacing: 5px;
}

p{
	text-indent: 36px;
	font-size: 18px;
	line-height: 24px;
	font-family: sans-serif;
	text-align: justify;
	margin-left: 20px;
	margin-right: 20px;
	word-spacing: 5px;
}
h2,h3,h4{
	font-family: sans-serif;
	margin-left: 20px;
}
#img1{
	float: left;
	margin-right: 20px;
}
figure{
border: solid 1px grey;	
padding: 5px;
}
figure.right{
	float: right;
	
}
figure.left{
float: left;
}
.zmist{
	list-style-type: none;
	font-size: 18px;
	font-family: sans-serif;
}